@model mom2spexet.Models.MemberModel;

<h1>@ViewData["Title"]</h1>

<!-- Form to add member -->
<form method="post" action="/lagg-till-medlem">
    <div class="flex">
        <!-- Input field for firstname -->
        <p>
            <label asp-for="Firstname"></label><br />
            <input asp-for="Firstname" /><br />
            <span class="error" asp-validation-for="Firstname"></span>
        </p>
        <!-- Input field for lastname-->
        <p>
            <label asp-for="Lastname"></label><br />
            <input asp-for="Lastname" /><br />
            <span class="error" asp-validation-for="Lastname"></span>
        </p>
    </div>
    <div class="flex">
        <!-- Input field for year of birth-->
        <p>
            <label asp-for="YOB"></label><br />
            <input asp-for="YOB" /><br />
            <span class="error" asp-validation-for="YOB"></span>
        </p>
        <!-- Select box for years of membership -->
        <p>
            <label asp-for="MemberYears"></label><br />
            <select asp-for="MemberYears">
                <option value="" selected>Välj år</option>
                <option value="1">1 år</option>
                <option value="2">2 år</option>
                <option value="3">3 år</option>
                <option value="4">4 år</option>
                <option value="5">5 år</option>
                <option value="6">6 år</option>
                <option value="7">7 år</option>
                <option value="8">8 år</option>
                <option value="9">9 år</option>
                <option value="10">10 år eller mer</option>
            </select><br />
            <span class="error" asp-validation-for="MemberYears"></span>
        </p>
    </div> 

    <!-- Fieldset with checkboxes for groups -->
    <fieldset>
        <legend>Grupper</legend>
    <div class="checkbox">
        <input type="checkbox" id="actorgrp" name="Groups" value="Skådisgruppen">
        <label for="actorgrp">Skådisgruppen</label>
    </div>
    <div class="checkbox">
        <input type="checkbox" id="scriptgrp" name="Groups" value="Manusgruppen">
            <label for="scriptgrp">Manusgruppen</label>
    </div>
    <div class="checkbox">
        <input type="checkbox" id="songgrp" name="Groups" value="Låtgruppen">
            <label for="songgrp">Låtgruppen</label>
    </div>
    <div class="checkbox">
        <input type="checkbox" id="scenerygrp" name="Groups" value="Dekorgruppen">
            <label for="scenerygrp">Dekorgruppen</label>
    </div>
    <div class="checkbox">
        <input type="checkbox" id="prgrp" name="Groups" value="PR-gruppen">
            <label for="prgroup">PR-gruppen</label>
    </div>
    <div class="checkbox">
        <input type="checkbox" id="techgrp" name="Groups" value="Teknikgruppen">
            <label for="techgrp">Teknikgruppen</label>
    </div>
    <div class="checkbox">
        <input type="checkbox" id="costumegrp" name="Groups" value="Kostymgruppen">
            <label for="costumegrp">Kostymgruppen</label>
    </div>
    <div class="checkbox">
        <input type="checkbox" id="makeupgrp" name="Groups" value="Sminkgruppen">
        <label for="makeupgrp">Sminkgruppen</label>
    </div>
    <div class="checkbox">
        <input type="checkbox" id="orchestragrp" name="Groups" value="Bandet">
        <label for="orchestragrp">Bandet</label>
    </div>
    <div class="checkbox">
        <input type="checkbox" id="cateringgrp" name="Groups" value="Klubbmästeriet">
            <label for="cateringgrp">Klubbmästeriet</label>
    </div>
    <div class="checkbox">
        <input type="checkbox" id="boardgrp" name="Groups" value="Styrelsen">
        <label for="boardgrp">Styrelsen</label>
    </div>
    </fieldset>
    <span class="error" asp-validation-for="Groups"></span>
     
    <!-- Submit button -->
    <p>
        <input type="submit" value="Spara medlem">
    </p>
</form>