<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moment 2 - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- Logotype -->
        <a asp-area="" asp-controller="Home" asp-action="Index" class="link-logotype">
            <img src="~/logotype.svg" alt="Logotyp">
        </a>
        <!-- Partial with navigation -->
        <partial name="_Navigation" />
    </header>
    <main>
        <!-- Rendering of views -->
        @RenderBody()
    </main>
    <footer>
        <!-- Information about the website -->
        Webbplats skapad av Sofia Widholm 2023 <br />
        Webbutveckling med .NET<br />
        Webbutveckling, Mittuniversitet
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
