<!-- Navigation -->
<nav>
    <a asp-area="" asp-controller="Member" asp-action="MemberForm">Lägg till medlem</a>
    <a asp-area="" asp-controller="Member" asp-action="Members">Medlemmar</a>
    <a asp-area="" asp-controller="Group" asp-action="GroupForm">Lägg till grupp</a>
    <a asp-area="" asp-controller="Group" asp-action="Groups">Grupper</a>
</nav>