@model List<mom2spexet.Models.GroupModel>

<h1>@ViewData["Title"]</h1>

@if(@Model != null) {
    @foreach (var group in Model)
    {
        <article>
            <h2>@group.Name</h2>
            <p>@group.DateAndTime</p>
            <p>@group.Information</p>
        </article>
    }
}



