@model List<mom2spexet.Models.GroupModel>

<h1>@ViewData["Title"]</h1>

<!-- Foreach loop that print all groups -->
@foreach (var group in Model)
{
    <article>
        <h2>@group.Name</h2>
        <p>@group.DayAndTime</p>
        <p>@group.Information</p>
    </article>
}



