<h1>@ViewData["Title"]</h1>

<!-- Information about the assignment -->
<p>
    I moment 2 har uppgiften varit att skapa en applikation baserat på ASP.NET Core MVC.
    Jag har valt att skapa en applikation för en förening jag tidigare var med i under min första utbildning till lärare.
    Föreningen i fråga var en studentspex och jag har i denna applikation valt att lägga en formulär för att lägga till medlemmar och grupper samt presentation av den data som läggs till.
</p>

<div class="flex">
    <!-- Mandatory requirements-->
    <article class="flex-item">
        <h2>Obligatoriska krav</h2>
        <ul>
            <li>Användning av Models, Controllers och Vyer</li>
            <li>Ändring av grundrouting</li>
            <li>Inmatning i vy, bearbetning i controller och hämtning eller lagring i model</li>
            <li>Minst tre views</li>
            <li>
                Skicka data från controllern på tre olika sätt:
                <ul>
                    <li>ViewBag</li>
                    <li>ViewData</li>
                    <li>Parameterpassning med vymodell</li>
                </ul>
            </li>
            <li>Spara data genom session eller cookie för att det finns tillgängligt då man går från en sida till en annan</li>
        </ul>
    </article>
    <!-- Optional requirements -->
    <article class="flex-item">
        <h2>Valfria krav</h2>
        <ul>
            <li>Webbplatsen bygger på egen HTML, CSS och JavaScript</li>
            <li>Partial som använd laddas in och används i två vyer</li>
            <li>Enkel validering av ett eller flera input-fält</li>
            <li>Minst tre olika typer av inmatningskontroller i vyn</li>
        </ul>
    </article>
</div>